/* You can add global styles to this file, and also import other style files */
body {
    font-size: 10pt;
    padding: 1em;
}

.header {
    display: grid;
    grid-template-columns: auto 1fr auto 1fr auto auto auto auto;
    grid-gap: 0.3em 0.3em;
    align-items: center;

}


#largeTextArea {
    grid-row: span 2;
}

@media (max-width: 940px) {
    .header {
        grid-template-columns: auto 1fr;
    }

    #largeTextArea {
        grid-row: 10 / 11;
        grid-column: 2 / 3;
    }

    #create-bookmark {
        grid-row: 17/18;
        grid-column: 2 / 3;
    }

    #add-to-graph {
        grid-row: 18/19;
        grid-column: 2 / 3;
    }

    #generate-graph {
        grid-row: 19/20;
        grid-column: 2 / 3;
    }

    .emptySpacer {
        display: none;
    }
}

/* nur Kosmetik */


.label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: darkgrey;
    justify-self: end;
    margin-bottom: 0;
    margin-left: 0.7em;
}

#expertMode * {
    margin-right: 0.5em;
}

#addToGraphButton {
    flex-grow: 1;
}
