<div class="header">

  <!-- first row -->
  <label for="series-input" class="label">Series</label> <input type="text" id="series-input" [(ngModel)]="model.series"/>

  <label for="metric-input" class="label">Metric</label> <input id="metric-input" type="text" [(ngModel)]="model.metric"/>

  <label  class="label">Sampling</label>
  <div class="dropdown">
    <button class="btn btn-sm btn-secondary btn-sm dropdown-toggle input" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      ...
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>

  <label id="fromLabel" class="label">From</label> <input type="date" [(ngModel)]="model.from"/>

  <!-- second row -->
  <label id="meassurementLabel" class="label">Meassurement</label> <input type="text" [(ngModel)]="model.meassurement"/>

  <label class="label">Exclude</label> <input type="text" [(ngModel)]="model.exclude" />

  <label  class="label">Aggregation</label>
  <div class="dropdown">
    <button class="btn btn-sm btn-secondary btn-sm dropdown-toggle input" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      ...
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>

  <label class="label">Until</label> <input type="date" [(ngModel)]="model.until" />


  <!-- third row -->
  <label class="label">Host</label> <input type="text" [(ngModel)]="model.host" />

  <label class="label"></label> <textarea id="largeTextArea" class=" form-control" [(ngModel)]="model.text"></textarea>


  <label  class="label">Graph</label>
  <div class="dropdown">
    <button class="btn btn-sm btn-secondary btn-sm dropdown-toggle input" type="button" id="samplingInput" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      ...
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>

  <div class="emptySpacer">

  </div>
  <button type="button" class="btn btn-sm btn-secondary" id="create-bookmark">Create Bookmark</button>

  <!-- fourth row -->
  <label class="label">Process</label> <input type="text" [(ngModel)]="model.process"/>

  <span></span>

  <div class="emptySpacer">

  </div>

  <div class="emptySpacer">

  </div>

  <span></span>

  <div class="btn-group" id="add-to-graph">
    <button id="addToGraphButton" type="button" class="btn btn-sm btn-secondary">Add to Graph</button>
    <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>


  <!-- fith row -->
  <label class="label">Type</label> <input type="text" [(ngModel)]="model.type"/>

  <span></span>
  <div id="expertMode">
    <input type="checkbox" [(ngModel)]="model.expertMode">
    <span class="label">Expert mode (lucene query mode)</span>
  </div>

  <span></span>

  <div></div>
  <div></div>

  <button type="button" id="generate-graph" class="btn btn-sm btn-primary" (click)="onGenerateGraphClicked()">Generate Graph</button>
</div>
